body {
  margin: 0px;
  font-family: sans-serif;
}

#game {
  background: #c0cccc;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  display: block;
  border-radius: 5px;
}

.game-header {
  padding-top: 1vmin;

  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #fff;
}
.game-score {
  padding: 10px 15px;
  min-width: 139px;
  border-right: 0.5px solid #fff;
  height: 50px;
  background: #041020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-count {
  font-size: 3vmin;
  color: #2bafff;
  font-weight: bold;
}

.game-highscore {
  padding: 10px 15px;
  min-width: 139px;
  border-left: 0.5px solid #fff;
  height: 50px;
  background: #041020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highscore-count {
  font-size: 3vmin;
  color: #2bafff;
  font-weight: bold;
}

.canvas-wrapper {
  background-color: #041020;
  border: 10px solid #041020;
  box-shadow: 0px 0px 40px 10px #041020;

  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}
